.figure_item {
   position: absolute;
   display: flex;
   flex-direction: column;
   background: #000;
   border-width: 2px;
   padding: 15px;
   border-radius: 5px;
   font-size: 18px;
   width: 24rem;
   font-size: 1rem; 
   line-height: 1.5rem;
   border: 2px solid skyblue;
}

.figure_title {
   border-bottom: 2px solid;
   padding-bottom: 4px;
}

.select_Figure {
   color: black;
   border-radius: 5px;
   cursor: pointer;
   margin-top: 5px;
}

.ul_Figure {
   text-align: left;
   padding: 2;
   margin-top: 5px;
}

.li_figure {
   display: flex;
   justify-content: space-between;
}

.figure_description {
   display: flex;
   justify-content: space-between;
   margin-bottom: 10px;
   margin-top: 7px;
}

.li_Inner {
   display: flex;
   margin-bottom: 7px;
   margin-top: 10px;
}

.text_error {
   color: red;
}

.text_green {
   color: rgb(1, 188, 1);
}

.title_result {
   font-size: 1.125rem;
   line-height: 1.75rem;
   font-weight: bold;
}

.result_line {
   border-top: 2px solid white;
   text-align: left;
   margin-top: 0.75rem;
}

.slider {
   display: flex;
   justify-content: center;
   position: relative;
   border-top: 2px solid white;
}

.arrow_slider {
   position: absolute;
   display: flex;
   font-weight: bold;
   justify-content: center;
   align-items: center;
   left: 0px;
   top: 40%;
   cursor: pointer;
   color:black;
   transition: 0.3s;
}

.arrow_slider_left {
   position: absolute;
   display: flex;
   font-weight: bold;
   justify-content: center;
   align-items: center;
   right: 0px;
   top: 40%;
   cursor: pointer;
   color:black;
   transition: 0.3s;
}

.slide_panel {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
   width: 18em;
   max-height: 35em;
   overflow: hidden;
   margin-top: 20px;
   position: relative;
   transition: 0.3s;
   margin-left: 20px;
}

img {
   top: 0;
   width: 400px;
   height: 185px;
   border-radius: 5px;
   transition: 0.3s;
   margin-bottom: 10px;
}


.wrapper_canvas {
   width: 100%;
   height: 350px;
   position: relative;
   transition: 0.3s;
   border: 1px solid skyblue;
   border-radius: 10px;
}

.my_canvas {
   position: absolute;
   top: 0;
   left: 50%;
   transform: translate(-50%);
   /* transform: rotate(-100); */
}
